@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #fff;
  --second-color: #000;
  --background-c-start: #850001;
  --background-c-end: #e35e5f;
}

body {
  height: 100vh;
  background: linear-gradient(
    var(--background-c-end) 0%,
    var(--background-c-start) 100%
  );
}
