@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #fff;
  --second-color: #000;
  --background-c-start: #850001;
  --background-c-end: #e35e5f;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../public/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: "Jura";
  src: url("../public/fonts/Jura/Jura-VariableFont_wght.ttf") format("woff2");
}


body {
  height: 100vh;
  background: linear-gradient(
    var(--background-c-end) 0%,
    var(--background-c-start) 100%
  );

}
